@page "/change_password"
@attribute [Authorize(Roles = "User,Admin")]
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime

<PageTitle>Change password</PageTitle>

<EditForm Model="changePassword" OnSubmit="HandleLogin">
    <label for="oldPassword">Old Password</label>
    <InputText id="username" @bind-Value="changePassword.OldPassword" type="password" /><br />
    <label for="newPassword">New Password</label>
    <InputText id="password" @bind-Value="changePassword.NewPassword" type="password" /> <br />
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    BAW_Project_FrontEnd.ChangePassword changePassword = new BAW_Project_FrontEnd.ChangePassword();

    protected override async Task OnInitializedAsync()
    {
    }

    async Task HandleLogin()
    {
        var result = await Http.PostAsJsonAsync("https://localhost:7131/api/Account/change-password", changePassword);

        if (result.IsSuccessStatusCode)
        {
            var errorContent = await result.Content.ReadAsStringAsync();
            await JsRuntime.InvokeVoidAsync("alert", "Password has been change");
            Navigation.NavigateTo("/");
        }
        else
        {
            var errorContent = await result.Content.ReadAsStringAsync();
            await JsRuntime.InvokeVoidAsync("alert", errorContent);
        }
    }
}